@font-face {
    font-family: 'Montserrat';
    src: url(./Assests/static/Montserrat-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'Montserrat' ;
    src: url(./Assests/static/Montserrat-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url(./Assests/static/Montserrat-Thin.ttf) format('truetype');
    font-style: thin;
    font-weight: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url(./Assests/static/Montserrat-Italic.ttf) format('truetype');
    font-style: italic;
    font-weight: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url(./Assests/static/Montserrat-BlackItalic.ttf) format('truetype');
    font-weight: black;
    font-style: italic;
}
@font-face {
    font-family: 'Montserrat';
    src: url(./Assests/static/Montserrat-ExtraBold.ttf) format('truetype');
    font-weight: extra-bold;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url(./Assests/static/Montserrat-Black.ttf) format('truetype');
    font-weight: black;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url(./Assests/static/Montserrat-SemiBold.ttf) format('truetype');
    font-weight: 600px;
    font-style: normal;
}
:root{
    --black:#000000;
    --blue:#8895f5;
    --sky-blue:#78e1f3;
    --light-gray:#f7f7fd;
    --dim-white:#f9fafb;
}
body{
    margin:0;
    padding: 0;
}
.logo{
    height: 65px;
}
.logo-text{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600px;
    font-size: 27px;
    position:relative;
    top:2px;
}
.btn{
    margin-left: 220px;
    margin-top: 10px;
}
.btn:hover{
    background-color: rgb(255, 0, 234) !important;
}
.w-90{
    width: 94.95% !important;
}
.h-65{
    height: 100vh !important;
}
.hero{
    /* background: linear-gradient(45deg, #78e1f3, #8895f5) */
    --_gradient-blend-mode: normal;
--_gradient-blur: 0px;

background: radial-gradient(at 19.2% 86.3%, #78e1f3 0px, transparent 50%), radial-gradient(at 84.8% 81.5%, #8895f5 0px, transparent 50%) #ffffff;;
mix-blend-mode: var(--_gradient-blend-mode);
}
.frosted-backdrop {
backdrop-filter: blur(var(--_gradient-blur)) contrast(100%) brightness(100%);
-webkit-backdrop-filter: blur(var(--_gradient-blur)) contrast(100%) brightness(100%);
}
.loan
{
    border: 1px solid rgb(221, 216, 216);
    border-radius: 15px;
    padding-left: 6px;
}
.mt-100{
    margin-top: 50px !important;
}
.ms{
    margin-left: 100px !important;
}
.customized-h1{
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 500px !important;
}
.text{
    font-weight: thin;
    padding-left: 340px !important;
    font-weight: 500px;
}
.color{
       --_gradient-blend-mode: normal;;
background: radial-gradient(at 19.2% 86.3%, #78e1f3 0px, transparent 50%), radial-gradient(at 84.8% 81.5%, #8895f5 0px, transparent 50%);
}
.list{
    list-style-type: circle;
}
.data{
    font-family: 'Montserrat';
    font-size: 35px;
    font-weight: 500;
}